@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;600;700&display=swap');
html {
  scroll-behavior: smooth;
}
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --golden-yellow:#FBD85D;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.message-button{
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.message-button .message-button-text{
  max-width: 0px;
  display: inline-block;
  transition: max-width 1s linear;
  overflow: hidden;
  white-space: nowrap;
}
.floating { 
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
 
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 5px); }
  100%   { transform: translate(0, -0px); }   
}

